body{
    color:white;
    font-family: 'Cinzel Decorative', cursive;
    background-image: url("./GOT-Map@1233x1080.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;   
    
}

.wrapper{
    display:grid;
    grid-template-columns: 60% 40%;
}

ul {
    list-style-type: none;
}

.prototype{
    display:none;
}

h1{
    font-weight: 700;   
    cursor: pointer;
}

.name{
    grid-area: 1;
}

.section{
    grid-area: 2;
}